# Ignore cache files
__pycache__/
/__pycache__/

# Ignore enviroment config and folders
Lib/
Scripts/
Include/
pyvenv.cfg

# Ignore DB config
# use dbconfig_template.py to create your own dbconfig file 
dbconfig.py